<h1>New Landmark</h1>
<br><br>
<form action="/landmarks" method="post">

<label>Landmark Name</label>
<input id="landmark_name" type="text" name=landmark[name]><br>

<label>Date completed</label>
<input id="landmark_year_completed" type="text" name=landmark[year_completed]><br>

<input type="submit" value="Create New Landmark">
</form>

